// ------------------------------------
// Components > Archive
// ------------------------------------

@use '../settings/type';
@use "../vendor/mq";

.c-archive {
  margin-bottom: var(--space-24);
  padding-bottom: var(--space-24);
  border-bottom: 1px solid var(--color-border);

  @include mq.mq($from: desktop) {
    margin-bottom: var(--space-40);
    padding-bottom: var(--space-40);
  }

  &--no-border {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &__title {
    font-size: type.$type--h-sm;
    line-height: type.$type--h-sm-lh;
    letter-spacing: var(--font-letter-space-negative);
    font-family: var(--gh-font-heading, var(--font-family));
  }

  &__description {
    margin-top: var(--space-8);

    @include mq.mq($from: desktop) {
      font-size: var(--font-size-large);
      line-height: var(--line-height-large);
      margin-top: var(--space-16);
    }

    &:empty {
      display: none;
    }
  }
}